@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    ;
}

/* Body */
body {
    margin: 0;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}



/* Titre My.Bocuse */
.bocuse_title {
    font-size: 300%;
    display: flex;
    justify-content: center;
    margin-top: 5%;
    font-weight: bolder;
}

/* Box avec le formulaire */
.main_container {
    width: 600px;
    margin: 0 auto;
    margin-top: 5%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.formulaire_connexion {
    margin: 40px;
    padding: 30px;
    border: 1px solid black;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}


.title {
    width: fit-content;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

input[type=email],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#confirm_connexion {
    background-color: rgb(14, 79, 145);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
}

#confirm_connexion:hover {
    background-color: white;
    color: rgb(14, 79, 145);
    border: 1px solid rgb(14, 79, 145);
}

/* Pointage */
.pointage {
    border: 3px solid #fff;
    padding: 30px;
    display: flex;
    justify-content: center;
}

.heurepointage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px 20px;
}

.pointage1 {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.pointage2 {
    display: flex;
    justify-content: center;
}

#bouton_pointage{
    background-color: rgb(14, 79, 145);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
    width: 205px;
    font-size: 18px;
    font-weight: bold;
}

#bouton_pointage:hover{
    background-color: white;
    color: rgb(14, 79, 145);
    border: 1px solid rgb(14, 79, 145);
}

/* Calendrier */

.calendrier {
    text-align: center;
}

/* Formulaire recette */

.main_container_recette {
    width: 600px;
    margin: 0 auto;
    margin-top: 5%;
}

.formulaire_recette {
    margin: 40px;
    padding: 30px;
    border: 1px solid black;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.tableau_recette {
    display: flex;
    justify-content: center;
}

.nom_recette,
.date_recette {
    width: 200px;
}

.description {
    max-height: 300px;
    max-width: 300px;
    min-width: 200px;
    width: 200px;
}

#confirm_recette {
    background-color: rgb(14, 79, 145);
    color: white;
    /* padding: 14px 20px;
    margin: 8px 0; */
    cursor: pointer;
    width: 205px;
    font-size: 18px;
    font-weight: bold;
}

#confirm_recette:hover {
    background-color: white;
    color: rgb(14, 79, 145);
    border: 1px solid rgb(14, 79, 145);
}





/* Header - Navbar */

.header {
    overflow: hidden;
    background-color: #4d4d4d;
    padding: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.header a {
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    border-radius: 4px;
}


.header a:hover {
    background-color: #ddd;
    color: black;
}

.header a.active {
    background-color: rgb(14, 79, 145);
    color: white;
}

.padding_box {
    padding: 12px;
}

.header-right {
    display: flex;
}


/* Navbar effet zoom */
.zoom {
    transform: scale(1);
    transition: .3s ease-in-out;
    margin: 0px 10px;
}


.zoom:hover {
    transform: scale(1.25);
}

/* Responsiveness */
@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }

    .header-right {
        float: none;
    }
}


/* Footer */
.footer {

    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #4d4d4d;
    color: white;
    text-align: center;
    font-family: 'Bodoni Moda', serif;

}

.footer>p:nth-child(2) {
    margin-bottom: 0px;
}