@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}


.navBar {
    background-color: rgb(218, 218, 218);
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    width: 100%;
    transition: top 0.3s;
    z-index: 1;
    
}


.pointage {
border: 3px solid #fff;
padding: 30px;
}



.heurepointage  {
    display: flex;
    flex-direction: column;
justify-content: space-between;
    float: left;
}



.menuNav {
    display: flex;
    list-style: none;
    flex-direction: row;
justify-content: space-evenly;
    width: 100%;
}

.menuNav a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    
}

.menuNav li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    border-radius: 3%;
}

main {
padding: 50px;
}



.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #4d4d4d;
    color: white;
    text-align: center;
    font-family: 'Bodoni Moda', serif;
}